.marge{
  position: fixed;
  margin-top: 60px;
  margin-left: 50px;
  font-weight: bolder;
}
.example-full-width{
  width: 400px;
}
.invisible{
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

mat-error{
  font-weight: bolder;
  text-align: center;
}
