
.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
.container{
  margin: auto;
  width: 20%;

}

.mat-form-field-underline{
  background-color:green !important;
}
.color{
  color: red;
  font-size: 11px;
  margin-left: 80px;
  position: absolute;
  display: block;
}
