.invisible{
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
.container{
  margin-left: 150px;
  margin-top: 50px;
  width: 20%;

}
.erreur{
  margin-left: 110px;
  background-color: blueviolet;
  color: white;
}
.color{
  color: red;
  font-size: 11px;
  margin-left: 80px;
  position: absolute;
  display: block;
}

mat-error{
  font-weight: bolder;
  text-align: center;
}
